/*
**
*** Paper-Tab Styles
**
*/

/* Save for tiny screens
#paper-tab
{
        height: em(47);
}
paper-tabs paper-tab::shadow .tab-content
{
        height: em(47);
}
*/

/* selectionBar
*/
paper-tabs::shadow #selectionBar {
  background-color: themeColor(five);
}

/* ink ripple color
*/
paper-tabs paper-tab::shadow #ink {
  color: themeColor(three);
}
paper-tabs::shadow #selectionBar {
    width: 33.3333333333333%;
    left: 0%;
    bottom: em(8.56);
}